*{
    box-sizing: border-box;
}

html{
    background-image: url("mykeysig_BGidea.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed; 
    line-height: 1.5;
   background-clip: border-box;
   overflow: visible;
   margin:0;
   padding:0;
   width:100%;
   height:100%;
   display: table;
}
body{
    background-color: transparent;
    padding-right: 200px;
    display:table;
    width:100%;
}

p{
    color: teal;
}

h1{
    color: white;
}

input{
    width: 75px;
    height:15px;
}
button{
    width: 50px;
    font-size: smaller;
    font-stretch: condensed;
}
#playlist{
    /* changing to relative keeps it in the same position when resizing, but causes there to be white space when scrolling
    Maybe create a box around that area that doesn't move?*/
    position:relative;
    top: 250px;
    left: 640px;
    width: auto;
    overflow: visible;
    display:table;
}


label[for = "title"]{
    font-size:12px;
}

#single{
    position: relative;
    top:100px;
    left:1025px;
    width: auto;
    display:table;
}

#group{
    position:relative;
    top:-35px;
    left:75px;
    width:auto;
    display:table;
}
#Results{
    position: relative;
    top:-85px;
    left:750px;
    padding-right:600px;
    padding-left:450px;
    color: lawngreen;
}

#Thanks{
    position:relative;
    color:lawngreen;
    top:350px;
    font-size:large
}

#artist{
    position: relative;
    top:365px;
    left:150px;
    font-size:large;

}

#Twitter{
    position: relative;
    top: 365px;
    left: 200px;
    font-size:large;
}
@media only screen and (max-device-width:1024px) and (orientation:landscape){
    #wrapper{
      display:grid;
        grid-template-columns: 1fr 3fr 1fr 1fr; 
      grid-template-rows:1fr 1fr 1fr;
    }
    img{
      width:800px;
    }
  
  *{
      
      box-sizing: border-box;
    
  }
      
  #header{
  grid-column:1/-1;
    grid-row:1/-1;
  clear:both;
    padding: 0;
  }
  
  #left{
    grid-row:2;
    grid-column:1;
  float:left;
    padding-top: 120px;
  width:25%;
  }
  #right{
    grid-row:2;
    grid-column:1/4;
  width:auto;
    float: center;
  }
    #Results{
      position: absolute;
      top:357px;
      left:400px;
      color: lightgreen;
      background-color:black;
      background-clip:content-box;
      opacity:.9;
      font-size:large;
  }
  
  
  #leftofright{
  
    grid-column:3;
    grid-row:2;
  width:25%;
    padding-top:75px;
    padding-left:50px;
  }
  
  #Middle{
  float:center;
    width:25%;
    padding-top:60px;
    padding-left: 50px;
    grid-column:2;
    grid-row:2;
  }
    #footer{
      grid-column:1/-1;
      grid-row:3;
      padding-top:8%;
      padding-left:10%;
      
    }
  
  }
  @media only screen and (max-device-width:1100px) and (orientation:portrait){
    #wrapper{
      display:grid;
        grid-template-columns: 1fr 3fr 1fr 1fr; 
      grid-template-rows:1fr 1fr 1fr;
    }
    img{
      width:800px;
    }
  
  *{
      
      box-sizing: border-box;
    
  }
      
  #header{
  grid-column:1/-1;
    grid-row:1/-1;
  clear:both;
    padding: 0;
  }
  
  #left{
    grid-row:2;
    grid-column:1;
  float:left;
    padding-top: 120px;
  width:25%;
  }
  #right{
    grid-row:2;
    grid-column:1;
  width:auto;
    float: left;
  }
    #Results{
      position: absolute;
      top:500px;
      left:550px;
      color: lightgreen;
      background-color:black;
      background-clip:content-box;
      opacity:.9;
      font-size:large;
  }
  
  
  #leftofright{
  
    grid-column:1;
    grid-row:2;
  width:25%;
    padding-top:75px;
    padding-left:50px;
  }
  
  #Middle{
  float:left;
    width:25%;
    padding-top:60px;
    padding-left: 50px;
    grid-column:1;
    grid-row:2;
  }
    #footer{
      grid-column:1/-1;
      grid-row:3;
      padding-top:8%;
      padding-left:10%;
      
    }
    
    #single{
      position: relative;
      top:45px;
      left:150px;
      width: auto;
      display:table;
  }
  
  #group{
      position:relative;
      top:0;
      left:0;
      width:auto;
      display:table;
  }
    #playlist{
      position:relative;
      top: 60px;
      left: 50px;
      width: auto;
      overflow: visible;
      display:table;
  }
  
  
  }