html{
    background-image: url("Mykey.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    margin:0;
    padding:0;
    background-attachment: fixed;
    line-height: 1.5;
   
}
body{
    background-color: transparent;
}

p{
    color:black;
}